<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/bootstrap-3.1.1-dist/assets/ico/favicon.ico">

    <title>CloudTrust</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--link href="jumbotron.css" rel="stylesheet"-->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CloudTrust</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="/create_user/" role="form">
            <button type="submit" class="btn btn-primary">Sign up</button>
          </form>
          <form class="navbar-form navbar-right" action="/autentica/" method="post" role="form">
            <div class="form-group">
              <input type="text" name="user" placeholder="User" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>

        </div><!--/.navbar-collapse -->
      </div>
    </div>
  
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      {% if registration_failed == 1%}

      <div class="alert alert-danger">
        <strong>Your credentials were incorrect!</strong> You have entered an incorrect username or password.
      </div>
      {% endif %}
      {% if logout_successful == 1%}

      <div class="alert alert-success">
        <strong>You have loged out properly!</strong>
      </div>
      {% endif %}
      
      <div class="container">
        <h1>CloudTrust, the network of the future</h1>
        <p>We offer the simplest way to manage and obtain all the information you need from your network. CloudTrust is based in SDN(Software Defined Networks) and NFV(Network Function Virtualization) newest technologies. </p>
        <p><a class="btn btn-primary btn-lg" role="button">Register Now! &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Traffic control</h2>
          <p>Keep track of the traffic consumed by any of your devices. Save money by not trespasing operator traffic thresholds. </p>
          <p><a class="btn btn-default" href="#" role="button">Learn More &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Discovering</h2>
          <p>Discover all  the devices in your network and take actions over them. Do not let anyone use your network for free. </p>
          <p><a class="btn btn-default" href="#" role="button">Learn More &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>NAC</h2>
          <p>Activate a network access control in your network with a few steps. Define and asign roles and permissions for all the users you want. Gain specific control over the network </p>
          <p><a class="btn btn-default" href="#" role="button">Learn More &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>DIT ETSIT UPM 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
  </body>
</html>