   
<!--html lang="es">
<head>
    <title>CloudTrust</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css" >
</head>
    <body>
        <header>
            <h1>Dispositivos Conectados</h1>   
            <TABLE BORDER="0">
        <TR>
            <TD><form name="Inicio" action="/" method="GET"><button type="submit">Inicio</button></form></TD>
            <TD><form name="" action="/search-form" method="GET"><button type="submit">Dispositivos</button></form></TD>
            <TD><form name="Inicio" action="/log" method="GET"><button type="submit">Log</button></form></TD>
            <TD><form name="Inicio" action="/historico" method="GET"><button type="submit">Historico</button></form></TD>
            </TR>
        </TABLE>        
         
        </header>
<section>
<form action="/log/ordena/" method="GET">
<label for="q">Ordena log: </label>
<input type="text" name="q" value="time">
    <input type="submit" value="Go">
        </form>
<form action="/log/filtra/" method="GET">
    <label for="q">Filtra por evento: </label>
    <input type="text" name="q" value="Traffic used">
        <input type="submit" value="Go">
            </form>
</section>

<div style="border : solid 2px #ff0000;
    background : #000000;
    color : #ffffff;
    padding : 1%;
    margin:2%;
    text-align:left;
    width : 55%;
    height : 500px;
    overflow : auto;
    position:relative;
    left:20%;
     ">
    {% for time,msg,information in log_list%}
    ~$  {{timemsg}}{{information}}<br/>
    {% endfor %}
</div>
 </body-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/bootstrap-3.1.1-dist/assets/ico/favicon.ico">

    <title>CloudTrust</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css" rel="stylesheet">



    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
      <div class="container" >
        <div class="navbar-header"  style="color:#ebebeb;">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" >CloudTrust</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/search-form/">Dispositivos</a></li>
            <li class="active"><a href="/log/">Log</a></li>
            <li><a href="/historico/">Histórico</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
           </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="/settings/">Settings</a></li>
            <li><a href="/log_out/">Log out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    
    <div class="container">
      <div class="page-header">
      </div> 
      <div class="page-header">
        <h1>Network Log</h1>
      </div>  
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="row" style="text-align:center;">
                <div class="col-md-4">Date</div>
                <div class="col-md-4">Message</div>
                <div class="col-md-4">Information</div>
              </div>
            </div>
            <div class="panel-body">
              {% for time,msg,information in log_list%}
              <div class="row" style="text-align:center;">
                <div class="col-md-4">
                {{time}}
                </div>
                <div class="col-md-4">
                {{msg}}
                </div>
                <div class="col-md-4">
                {{information}}
                </div>
              </div>
             {% endfor %}
           </div>
          </div>
    </div> 


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
  </body>
</html>