
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/bootstrap-3.1.1-dist/assets/ico/favicon.ico">

    <title>CloudTrust</title>
     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css" rel="stylesheet">

 

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
      <div class="container" >
        <div class="navbar-header"  style="color:#ebebeb;">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" >CloudTrust</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/search-form/">Dispositivos</a></li>
            <li><a href="/log/">Log</a></li>
            <li><a href="/historico/">Histórico</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="/settings/">Settings</a></li>
            <li><a href="/log_out/">Log out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    
    <div class="container">
      <div class="page-header">
      </div> 
      <div class="page-header">
        <h1>Network Devices</h1>
      </div>  
    </div> 
    {% for element,next_element in device_dict  %}
        <div class="container">
        <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title" style="text-align:center;">IP :  {{element.IP_Address}}   MAC : {{ element.MAC_Address }}    </h3>
            </div>
            <div class="panel-body">
                <div style="text-align:center;">Consumo:{{element.transfered_bytes}} Bytes / 10000000 Bytes   </div>
                
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{element.consumed_percentage}}%;">
                      <span class="sr-only">40% Complete</span>
                    </div>
                </div>    

                <div class="row">
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-sm btn-primary" href="#" class="dropdown-toggle" data-toggle="dropdown">Enlaza a <b class="caret"></b></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      {% for username in user_list%}
                      <li role="presentation"><a role="menuitem" href="/autenticaUser/?user={{username}}&mac={{element.MAC_Address}}">{{username}}</a></li>
                      {% endfor %}
                    </ul> 
                  </div>

                  <div class="col-sm-4">
                    <form  type="button" action="/filtra/">
                      <input type="hidden" name="q" value="{{element.MAC_Address}}">
                      <button type="submit" class="btn btn-sm btn-danger">Deny Service</button>
                    </form>
                  </div>

                  <div class="col-sm-4">
                    <form action="/no_filtra/" type="button" name="q" value="{{element.MAC_Address}}">
                      <input type="hidden" name="q" value="{{element.MAC_Address}}">
                      <button type="subint" class="btn btn-sm btn-success">Allow Service</button>
                    </form>
                  </div>
                </div>

            </div>
          </div>
        </div><!-- /.col-sm-6 -->
         <div class="col-sm-6">
          {% if next_element != "vacio" %}
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title" style="text-align:center;">IP :  {{next_element.IP_Address}}   MAC : {{ next_element.MAC_Address }}    </h3>
            </div>
            <div class="panel-body">
                <div style="text-align:center;">Consumo:{{next_element.transfered_bytes}} Bytes / 100000 Bytes   </div>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{next_element.transfered_bytes}}" aria-valuemin="0" aria-valuemax="100000" style="width: {{next_element.consumed_percentage}}%;"><span class="sr-only">0%</span>
                    </div>
                </div>    

             
                <div class="row">
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-sm btn-primary" href="#" class="dropdown-toggle" data-toggle="dropdown">Autentica <b class="caret"></b></button>
                    <ul class="dropdown-menu">
                      {% for username in user_list%}
                      <li><a href="/autenticaUser/?user={{username}}&mac={{next_element.MAC_Address}}">{{username}}</a></li>
                      {% endfor %}
                    </ul> 
                  </div>

                  <div class="col-sm-4">
                    <form  type="button" action="/filtra/">
                      <input type="hidden" name="q" value="{{next_element.MAC_Address}}">
                      <button type="submit" class="btn btn-sm btn-danger">Deny Service</button>
                    </form>
                  </div>

                  <div class="col-sm-4">
                    <form type="button" action="/no_filtra/" >
                      <input type="hidden" name="q" value="{{next_element.MAC_Address}}">
                      <button type="submit" class="btn btn-sm btn-success">Allow Service</button>
                    </form>
                  </div>
                </div>
              </div>

           </div>
          {% endif %}
        </div><!-- /.col-sm-6 -->
 </div>
      </div>

    {%endfor%}
    </div> <!-- /container -->




  </body>
</html>