
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/bootstrap-3.1.1-dist/assets/ico/favicon.ico">

    <title>CloudTrust</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
      <div class="container" >
        <div class="navbar-header"  style="color:#ebebeb;">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" >CloudTrust</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/search-form/">Dispositivos</a></li>
            <li><a href="/log/">Log</a></li>
            <li><a href="/historico/">Histórico</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/settings/">Settings</a></li>
            <li><a href="/log_out/">Log out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    
    <div class="container">
      <div class="page-header">
      </div> 
      <div class="page-header">
        <h1>Users</h1>
      </div>  
    </div> 
    {%for user in user_list%}

    <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{user.username}}                 

           </div>
         <!-- /.panel-heading -->
         <div class="panel-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#home_{{user.username}}" data-toggle="tab">Home</a>
            </li>
            <li><a href="#devices_{{user.username}}" data-toggle="tab">Devices</a>
            </li>
            <li><a href="#settings_{{user.username}}" data-toggle="tab">Settings</a>
            </li>
          </ul>
             <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade in active" id="home_{{user.username}}">
              <h4>General user information</h4>
              <p>
                <ul>
                <li>Group : {{user.groups.all.0.name}}</li>
                <li>Email : {{user.email}} </li>
                <li>Registered : {{user.date_joined}} </li>
                <li>Last Login : {{user.last_login}} </li>               
                <li>Admin : {{user.is_staff}} </li>
                </ul>
              </p>
            </div>
            <div class="tab-pane fade" id="devices_{{user.username}}">
              <h4>Asociated devices to the user</h4>
                  <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                  <thead>
                   <tr>
                    <th>MAC</th>
                    <th>IP</th>
                    <th>Last Login</th>
                    <th>Registered Date</th>
                   </tr>
                  </thead>
                  <tbody>
                  {% load GestionRed_tags %}
                    {%for device in user.username|registeredDevicesForUser%}
                    <tr class="odd gradeX">
                      <td>{{device.MAC_Address}}</td>
                      <td>{{device.IP_Address}}</td>
                      <td>{{user.last_login}}</td>
                      <td class="center">{{user.date_joined}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  </table>
              </div>
            </div>
            <div class="tab-pane fade" id="settings_{{user.username}}">
              <h4>User settings</h4>
                 <div class="row">
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-sm btn-primary" href="#" class="dropdown-toggle" data-toggle="dropdown">Cambia de grupo <b class="caret"></b></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      {% for group in group_list%}
                      <li role="presentation"><a role="menuitem" href="/change_user_group/?user={{user.username}}&group={{group.name}}">{{group.name}}</a></li>
                      {% endfor %}
                    </ul> 
                  </div>

                  <div class="col-sm-4">
                    <form  type="button" action="/filtra/">
                      <input type="hidden" name="q" value="{{element.MAC_Address}}">
                      <button type="submit" class="btn btn-sm btn-danger">Delete User</button>
                    </form>
                  </div>

                  <div class="col-sm-4">
                    <form action="/no_filtra/" type="button" name="q" value="{{element.MAC_Address}}">
                      <input type="hidden" name="q" value="{{element.MAC_Address}}">
                      <button type="subint" class="btn btn-sm btn-success">Allow Service</button>
                    </form>
                  </div>
                </div>

            </div>
          </div>
          </div>
             <!-- /.panel-body -->
         </div>
         <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div> <!-- /container -->
  </div>
 </div> 
    {%endfor%}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap-3.1.1-dist/assets/js/docs.min.js"></script>
  </body>
</html>