body{
	overflow: scroll;
	#background: #66A366;
	background: #FFFFFF;
	color:#333;
	font-family: "Arial";
	font-size: 16px;
	margin:0;
	text-align:center;

}
header {
	background: rgba(20,20,20,0.75);
	box-shadow:rgba(0,0,0,0.6) 0px 5px 10px;
	color: #DDD;
	margin:1em auto;
	padding:1em;
}
footer, section {
	background: rgba(20,20,20,0.75);
	border-radius: 0.5em;
	box-shadow:rgba(0,0,0,0.6) 0px 5px 10px;
	color: #DDD;
	padding:1em;
	width: 100%;
}

#registro{
	text-align:left;
	background: #2c492d;
	border-radius: 0.5em;
	color:white;
	font-size: 1.8em;
	margin:0.5em;
	padding:0.5em;
	width:50%;
	cursor:pointer;
	border:4px solid #78999;
}
#visionproducto{
	text-align: left;
}
#sensores{
	padding:5px;
	width: 80%;
	margin:20px auto;
	height:110px;
}
#iconos{
	margin:0px;
  	padding: 0px ;
	position:relative;
	height:10%;
	border:0px;
	right:40%; 
}
#direcciones{
	margin:0px;
  	padding: 0px ;
	position:relative;
	height:10%;
	border:0px;
	right:25%; 
	top:20%;
}
#valorSensor{
	position:relative;
  	
}
#ultimaLectura{
	position:relative;
}
#NombreSensor{
  	color:white;

}
button {
	font-family: Helvetica;
	font-size: 14px;
	color: #ffffff;
	height: 22px;
	background: #70944D;
	border-radius: 6px;
	border: 1px solid 	#70944D;
	width: 90px;
	text-align: center;
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);

}

#actualizar{
	position:relative;
	left:47%;
	bottom :70%;
	width: 90px;


}
#activity{
	position:relative;
	left:67%;
	bottom: 110%;
	width: 90px;
}
a:link {text-decoration:none; color:white;}
a:visited {text-decoration:none;color:#00FF00;}  /* visited link */
a:hover {text-decoration:none;background-color:#FF704D;}

#links{
 	padding: 5px ;
	position:relative;
	left: 40%;
	bottom:50%;
}
#creditos{
	font-size:12px;
	margin:1em auto;
	padding:1em;
}

#chart_div{
	width: 90%; 
	height: 500px; 
	position: center; 
}


#userSettings{
	margin:0px;
  	padding: 0px ;
	position:relative;
	left:20%;
	height:10%;
	width:10%;
	border:0px;
	top:20%;
}
#groupAssign{
	position:relative;
	top:10%;
}
#user_icon{
	margin:0px;
  	padding: 0px ;
	position:relative;
	height:10%;
	border:0px;
	right:40%; 
	top:15%;
}
#button_assing{
	font-family: Helvetica;
	font-size: 14px;
	color: #ffffff;
	height: 22px;
	background: #70944D;
	border-radius: 6px;
	border: 1px solid 	#70944D;
	width: 90px;
	text-align: center;
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}