<!DOCTYPE html>
<html lang="es">
<head>
    <title>CloudTrust</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css" >
</head>
    <body>
        <header>
            <h1>Settings</h1>   
            <TABLE BORDER="0">
        <TR>
            <TD><form name="Inicio" action="/" method="GET"><button type="submit">Inicio</button></form></TD>
            <TD><form name="" action="/search-form" method="GET"><button type="submit">Dispositivos</button></form></TD>
            <TD><form name="Inicio" action="/log" method="GET"><button type="submit">Log</button></form></TD>
            <TD><form name="Inicio" action="/historico" method="GET"><button type="submit">Historico</button></form></TD>
            <TD><form name="Inicio" action="/settings" method="GET"><button type="submit">Settings</button></form></TD>
            </TR>
        </TABLE>        
         
        </header>
    {% for user in user_list %}
    <section id="sensores">
        <div id="user_icon">
             <img src='/static/Iconos/user_picture.png' >
        </div>
        <div id="userSettings">
             <div>
                {{ user.username }}
            </div>
        </div>
        <div id="groupAssign">
            <form action="/asignaGrupoUser/" method="post">
                         <select name="group">
                            {% for group in group_list%}
                            <option 
                            {% if user.groups.all.0 == group %} 
                                    selected="selected" 
                            {%endif%} value="{{group.name}}">{{group.name}}</option> 
                           {%endfor%}
                           <input type="hidden" name ="username" value="{{user.username}}">
                            <input id="button_assing"type="submit" value="Asigna grupo"></button>   
                            </form>
                        </select>
     
    </section>
    {%endfor%}
    </body>
</html>